.menu {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin-bottom: 20px;
}

.menuItem {
    font-family: Roboto;
    font-size: 26px;
    color: rgb(145, 146, 148);
    cursor: pointer;
    user-select: none;
}

.selected {
    color: rgb(44, 122, 223);
    text-decoration: underline;
    text-decoration-color: rgb(44, 122, 223);
}