.item {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    background-color: #ffffff;
    height: 44px;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    /* Понимаю, что hex-код с альфа каналом выглядит как бред полный, но лень смотреть какой это цвет без альфа канала */
    -webkit-box-shadow: -2px 3px 10px 0px #00000021;
    -moz-box-shadow: -2px 3px 10px 0px #00000021;
    box-shadow: -2px 3px 10px 0px #00000021;
    /* Понимаю, что hex-код с альфа каналом выглядит как бред полный, но лень смотреть какой это цвет без альфа канала */
}


.checkbox {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 2px solid #cccccc;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.checkbox:checked {
    background-color: #275dff;
    background: #275dff;
    position: relative;
    background-image: url(../../assets/img/icons/checkMark.svg);
    background-position: center;
    background-size: 10px auto;
    background-repeat: no-repeat;
}



.itemInputText {
    font-weight: 500;
    color: #222222;
    font-size: 16px;
    flex-grow: 1;
    margin-left: 12px;
    letter-spacing: -0.1px;
    border: none;
    outline: none;
    background-color: transparent;
}

.blue {
    color: #3368db;
}


.editBtn,
.deleteBtn,
.cancelButton,
.saveBtn {
    display: flex;
    flex-basis: 57.5px;
    height: 44px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}

.itemIcon {
    width: auto;
    height: 26px;
}

.editBtn {
    background-color: #5791ff;
    /* background-image: url(../../assets/img/icons/note.svg); */

}

.saveBtn {
    background-color: #5791ff;
    /* background-image: url(../../assets/img/icons/save.png); */
}

.editBtnClicked {
    /* background-image: url(../../assets/img/icons/save.png); */
}

.cancelButton {
    background-color: #d4cc24;
    /* background-image: url(../../assets/img/icons/cancel.svg); */
    margin-left: 14px;
}

.buttonBlocked {
    cursor: not-allowed;
}


.deleteBtn {
    background-color: #ff6558;
    /* background-image: url(../../assets/img/icons/trash.svg); */
    margin-left: 14px;
}

.editBtn:hover,
.deleteBtn:hover {
    opacity: 0.89;
}

.editBtn:active,
.deleteBtn:active {
    opacity: 0.7;
}

.isDone {
    color: #858585;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: #858585;
}