@font-face {
  font-family: Roboto;
  src: url(../public/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

html {

  width: 100%;
  max-width: 100%;

}

body {

  background-color: rgb(241, 244, 249);
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  justify-self: center;
  width: 26%;
  min-width: 390px;
  height: auto;
  min-height: 500px;
  margin-top: 70px;
  background-color: white;

  padding: 15px 15px 15px 15px;
}