@font-face {
  font-family: Roboto;
  src: url(../public/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

html {

  width: 100%;
  max-width: 100%;

}

body {

  font-family: Roboto;
  background-color: #f1f4f9;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 525px;
  min-width: 390px;
  height: auto;
  min-height: 500px;
<<<<<<< HEAD
  margin-top: 70px;
  background-color: white;
  padding: 15px 15px 15px 15px;

=======
  margin: 70px 0px 0px 600px;
  padding: 15px;
>>>>>>> release/1.0.1
}

.errorBlock {
  font-size: 15px;
  color: #000000;
  width: 100%;
  height: 45px;
  margin-top: 15px;
  padding: 12px 16px 8px 16px;
  background-color: #ffdada;
  border-radius: 10px;
  box-sizing: border-box;
}

.wrapperOfAllList {
  flex: 0 0 100%;
  margin-top: 20px;

  padding: 15px 15px 15px 15px;
  flex-direction: column;
  background-color: #ffffff;
}